<div class="container-fluid" style="background-color: #ffffff; height: 100vh">
  <div class="row h-100">
    <div class="col-md-3 mt-10">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10">
          <img src="../../assets/img/default-monochrome-black.svg" alt="" />
          <h3 class="text-center mb-5 mt-5" style="font-weight: bold">
            Cadastre-se
          </h3>

          <form action="" class="needs-validation" novalidate>
            <div class="form-group">
              <label for="nome">Nome Completo</label>
              <input
                [(ngModel)]="usuario.nome"
                class="form-control"
                type="text"
                name="nome"
                id="nome"
                placeholder="Como gostaria de ser chamade?"
                required
              />
              <div class="invalid-feedback">
                O nome precisa ter no mínimo 5 letras.
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input
                [(ngModel)]="usuario.email"
                class="form-control"
                type="text"
                name="email"
                id="email"
                placeholder="Insira seu Email"
                required
              />
            </div>

            <div class="d-flex justify-content-between w-100">
              <div class="form-group pr-1 w-50">
                <label class="ls-label" for="cpf">CPF</label>
                <input
                  mask="000.000.000-99"
                  [(ngModel)]="usuario.cpf"
                  class="form-control"
                  type="text"
                  name="cpf"
                  id="cpf"
                  minlength="14"
                  maxlength="14"
                  placeholder="000.000.000-00"
                  required
                />
              </div>

              <div class="form-group w-50">
                <label for="tipo">Tipo de Usuario:</label>
                <select
                  class="form-control"
                  name="tipo"
                  id="tipo"
                  (change)="tipoUser($event)"
                >
                  <option selected disabled value="">
                    Selecione um tipo de usuario:
                  </option>
                  <option value="padrao">Padrão</option>
                  <option value="adm">Administrador</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="foto">Link da Foto</label>
              <input
                [(ngModel)]="usuario.linkFoto"
                class="form-control"
                type="text"
                name="foto"
                id="foto"
                placeholder="Link da sua Foto"
              />
            </div>

            <div class="form-group">
              <label for="foto">Cargo</label>
              <input
                [(ngModel)]="usuario.cargo"
                class="form-control"
                type="text"
                name="foto"
                id="cargo"
                placeholder="Insira o seu cargo"
                required
              />
            </div>

            <div class="d-flex justify-content-between w-100 mb-4">
              <div class="form-group w-50 pr-1 mb-0">
                <label for="senha">Senha</label>
                <input
                  (input)="confirmSenha($event)"
                  class="form-control"
                  type="password"
                  name="senha"
                  id="senha"
                  placeholder="Insira a sua Senha"
                  required
                />
                <div class="invalid-feedback">
                  A senha precisa ter no mínimo 5 caracteres.
                </div>
              </div>

              <div class="form-group w-50 mb-0">
                <label for="confirmSenha">Confirme sua Senha</label>
                <input
                  [(ngModel)]="usuario.senha"
                  class="form-control"
                  type="password"
                  name="confirmSenha"
                  id="confirmSenha"
                  placeholder="Confirme a sua Senha"
                />
                <div class="invalid-feedback">
                  A senha precisa ter no mínimo 5 caracteres.
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="invalidCheck"
                  required
                />
                <label
                  class="form-check-label"
                  for="invalidCheck"
                  style="font-size: small"
                >
                  Ao criar uma conta, você concorda com nossos
                  <a href="">termos de uso</a> e nossa
                  <a href="">política de privacidade</a>
                </label>
                <div class="invalid-feedback">
                  Você deve aceitar antes de prosseguir
                </div>
              </div>
            </div>

            <div class="form-group"></div>

            <div class="d-flex justify-content-center mb-3">
              <button
                type="submit"
                class="btn btn-primary w-100 rounded"
                (click)="cadastrar()"
              >
                Cadastrar
              </button>
            </div>
            <div class="d-flex justify-content-center">
              <small>Já tem uma conta? <a href="" routerLink="/entrar">Log in</a></small>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="tm container col-md-9 d-flex flex-column justify-content-center h-100 mb-0 align-items-center"
      style="background-color: #f1f4fa; height: 100vh"
    >
      <div class="d-flex flex-column justify-content-center">
        <img
          class=""
          style="height: 750px; width: 750px"
          src="https://i.imgur.com/7kRETWP.png"
          alt="foto do cadastro2"
        />
      </div>
    </div>
  </div>
</div>
